body {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 18px;
  font-weight: 500;
}

h2 {
  font-size: 30px;
  color: #dc143c;
  letter-spacing: 1;
}

img {
  border-radius: 10px;
  width: 85%;
  filter: opacity(70%);
}

img:hover {
  filter: opacity(100%);
}

h3 {
  font-size: 25px;
  color: rgb(31, 130, 230);
}

ol, ul {
  list-style: none;
  font-weight: 600;
}

a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #dc143c;
}

a:hover {
  color: rgb(31, 130, 230);
  text-decoration: underline;
}